<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="safeRowBoundsEnabled" value="true"/>

        <setting name="cacheEnabled" value="false" />

        <!-- 使用列别名替换列名 默认:true -->
        <setting name="useGeneratedKeys" value="true" />
        <!-- 开启驼峰命名转换:Table{create_time} -> Entity{createTime} -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

 <plugins>
     <plugin interceptor="com.github.pagehelper.PageHelper">
         <property name="dialect" value="mysql"/>
         <!--
                当该参数设置为`true`时，如果`pageSize=0`或者`RowBounds.limit = 0`
                就会查询出全部的结果（相当于没有执行分页查询，
                但是返回结果仍然是`Page`类型）
             -->
         <property name="pageSizeZero" value="true"/>
         <property name="reasonable" value="true"/>
     </plugin>
 </plugins>

</configuration>